@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

span{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 8px 15px;
    margin: 8px 4px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    5px 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#long{
    width: 100px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card{
    position: relative;
    width: 220px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

span i{
    position: relative;
    color: #fff;
    font-style: normal;
    font-size: 100%;
    font-family: consolas;
    text-transform: uppercase;
}

.card a{
    margin-left: 10px;
}


.banner.night{
    background: #333;
}

.daynight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}

.banner.night .daynight{
    background: #444;
    color: #fff;
}

.daynight ion-icon:nth-child(2),
.banner.night .daynight ion-icon:nth-child(1){
    display: none;
}

.banner.night .daynight ion-icon:nth-child(2){
    display: block;
}

.banner.night header .logo,
.banner.night header ul li a,
.banner.night a{
    
    color: #fff;
}