body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.banner{
    justify-content: center;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 800px;
    height: 500px;
    background: #fff;
    transition: 0.5s;
}

.container .box{
    position: relative;
    background: var(--img);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: grayscale(0) brightness(1.25); */
}

.container:hover .box{
    filter: grayscale(1);
}

.container .box:hover{
    filter: grayscale(0) brightness(1);
}

.container:has(.one:hover){
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.container:has(.two:hover){
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
}

.container:has(.three:hover){
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
}

.container:has(.four:hover){
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr 0.5fr;
}

.container:has(.five:hover){
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
}

.container .box::before{
    content: '';
    position: absolute;
    top: -1px;
    width: 100%;
    height: calc(100% + 2px);
    background: linear-gradient(#fff, transparent, transparent, transparent, #fff);
}

.container .box:nth-child(even){
    transform: translateY(30px);
}

.container .box:nth-child(odd){
    transform: translateY(-30px);
}

.container .box::after{
    content: attr(data-text);
    position: absolute;
    bottom: -100px;
    background: #000;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    opacity: 0;
    /* transition-delay: 0s; */
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0003);
}

.container .box:hover::after{
    opacity: 1;
    bottom: -60px;
    transition-delay: 0.25s;
}

.banner.night{
    background: #333;
}

.daynight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}

.banner.night .daynight{
    background: #444;
    color: #fff;
}

.daynight ion-icon:nth-child(2),
.banner.night .daynight ion-icon:nth-child(1){
    display: none;
}

.banner.night .daynight ion-icon:nth-child(2){
    display: block;
}

.banner.night header .logo,
.banner.night header ul li a,
.banner.night a{
    color: #fff;
}

.banner.night .container{
    background: #333;
}

.banner.night .container .box::before{
    transition: 0.5s;
    background: linear-gradient(#333, transparent, transparent, transparent, #333);
}

.banner.night .container .box::after{
    background: #fff;
    color: #000;
}

@media (max-width: 1500px) {
    .container{
        height: 300px;
        width: 700px;
    }
    .container .box::after {
        font-size: 0.8em;
    }
    .container .box:nth-child(odd) {
        transform: translateY(-15px);
    }
    .container .box:nth-child(even) {
        transform: translateY(20px);
    }
}