@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Kiwi Maru', serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.banner.night {
  background: #333;
}

.banner::before {
  content: '';
  position: absolute;
  left: 30%;
  top: 10%;
  width: 150px;
  height: 150px;
  background: url(https://fivem.m1ng.net/img/dotted.png);
  background-size: cover;
  animation: animateColor 10s linear infinite;
  transition-delay: -5s;
}

.content {
  position: relative;
  max-width: 60%;
  z-index: 10;
}

.content h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #333;
  font-weight: 200;
  transition: 0.5s;
}

.content h2 {
  font-size: 5.5em;
  color: #333;
  font-weight: 700;
  transition: 0.5s;
}

.content h2 span {
  color: #e91;
}

.content p {
  font-size: 1.2em;
  color: #666;
  margin: 10px 0;
  transition: 0.5s;
}

.content button {
  position: relative;
  background: #2196f3;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 35px;
  letter-spacing: 0.05em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.content button.discord {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: #333;
}

.content button.discord ion-icon {
  position: relative;
  top: 5px;
  color: #1e65e9;
  font-size: 1.5em;
}

.sci {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
}

.sci li {
  list-style: none;
}

.sci li a {
  text-decoration: none;
  font-size: 1.75em;
  color: #333;
}

.sci li a:hover {
  color: #1e65e9;
}

.daynight {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  border-radius: 50%;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2em;
}

.banner.night .daynight {
  background: #444;
  color: #fff;
}

.daynight ion-icon:nth-child(2),
.banner.night .daynight ion-icon:nth-child(1) {
  display: none;
}

.banner.night .daynight ion-icon:nth-child(2) {
  display: block;
}

.banner.night header .logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .sci li a,
.banner.night header ul li a,
.banner.night .content button.discord {
  color: #fff;
}

.banner.night .sci li a:hover {
  color: #2196f3;
}

.colors {
  position: absolute;
  right: 3%;
  max-width: 800px;
  animation: animateColor 8s ease-in-out infinite;
}

@keyframes animateColor {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(50px);
  }
}

.woman {
  position: absolute;
  right: 80px;
  bottom: 0;
  max-height: 85vh;
  animation: animateWoman 8s ease-in-out infinite;
}

@keyframes animateWoman {

  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-50px);
  }
}
