.carousel-inner img {
    width: 100%;
    height: 100%; 
}
 h4{
    font-family: "Lucida Console", "Courier New", monospace;
}
h6{
    font-family: "Lucida Console", "Courier New", monospace;
}
.container .wrap{
    font-family: "Lucida Console", "Courier New", monospace;
}
